{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<section>
   <article>
      <h1>Menu item</h1>
      <span>
         <a href="{% url 'home' %}">Home</a> /
         <a href="{% url 'menu' %}">Menu</a>/
         <!-- Step: Replace code here -->
      </span>
      <!--Begin row-->
      <div class="row">
         <!--Begin col-->
         <div class="column">
            <h2>
               <!-- Add DTL variable for menu_item_name --> 
               {{item.name}}
            </h2>
            <p style="text-align: justify; margin-right: 10%;">
               <!-- Add DTL variable for description --> 
               &nbsp; &nbsp; {{item.description}}
               
            </p>
            <p>
               <!-- Add DTL variable for price --> 
               Price: ${{item.price}}.00.
            </p>
         </div>
         <!--End col-->
         <!--Begin col-->
         <div class="column">
            <img  src=" {% static 'img/menu_items/'%}{{item.name}}.jpg " alt="{{ item.name}}" />
         </div>
         <!--End col-->
      </div>
      <!--End row-->
   </article>
</section>
{% endblock %}