{% extends 'base.html' %}
{% load static %}
{% block content %}
<div align="center">
    <h1 style="font-style: oblique; ">Menu</h1>
    <hr style="width: 50%; opacity: 50%;">
    <div class="column">
       {% for item in menu %}
            <p>
                <a href="{% url 'menu_item' pk=item.pk %}"><span style="font-style: oblique;
                 font-weight: bold; font-size: x-large;">{{item.name}}</span>
                 </a>
                <span class="menu-price">
                    ${{item.price}}.00 
                </span>
            </p>
        {% endfor %}
        <hr style = "width:50%; opacity: 50%;">
    </div>
</div>
{% endblock%}